# Basic Python

## 1. Split this string

In [2]:
su = "Hi there Sam!"

In [3]:
su.split()

['Hi', 'there', 'Sam!']

2. Use .format() to print the following string. 
### Output should be: The diameter of Earth is 12742 kilometers.

In [4]:
planet1 = "Earth"
diameter1 = 12742

In [5]:
print("The diameter of {} is {} kilometers.".format(planet1,diameter1))

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [6]:
data= {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [7]:
print(data.get("k1")[3].get("tricky")[3].get("target")[3])

hello

# Numpy

In [8]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [9]:
a=np.zeros(10)
a

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [10]:
a1=np.ones(10)*5
a1

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

## 5. Create an array of all the even integers from 20 to 35

In [11]:
arr=np.arange(20,35,2)
arr

array([20, 22, 24, 26, 28, 30, 32, 34])

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [24]:
matrix=np.arange(9).reshape(3,3)
matrix

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [26]:
n=np.array([1,2,3])
m=np.array([4,5,6])
np.hstack((n,m))

array([1, 2, 3, 4, 5, 6])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [27]:
import pandas as pd

In [29]:
d={'a':[1,2,3],'b':[4,5,6]}
df=pd.DataFrame(d)
print(df)
df.shape

   a  b
0  1  4
1  2  5
2  3  6

(3, 2)

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [30]:
pd.date_range(start='1-1-2023',end='10-2-2023',freq='d')

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-09-23', '2023-09-24', '2023-09-25', '2023-09-26',
               '2023-09-27', '2023-09-28', '2023-09-29', '2023-09-30',
               '2023-10-01', '2023-10-02'],
              dtype='datetime64[ns]', length=275, freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [31]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [34]:
data=pd.DataFrame(lists)
data

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24

In [33]:
d.ndim

2